* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f9f9f9;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    /* Sets the font size to 16px */
    font-weight: 300;
    /* Sets the font weight to 300 */
    line-height: 3em;
    /* Sets the line-height to 1.6 * the font-size */
    color: #4a4a4a;
}

main {
    padding-top: 2em;
    margin-left: auto;
    margin-right: auto;
}


/* :::::::::::::::::::::::::::::: TYPOGRAPHY */

h1,
h2,
h3,
h4 {
    line-height: 2em;
}

h1 {
    font-size: 2em;
    font-weight: 700;
}

h2 {
    font-size: 2.25em;
    font-weight: 700;
}

h3 {
    font-size: 1.75em;
    font-weight: 400;
}

h4 {
    font-size: 1.35em;
    font-weight: 400;
}

.w_title {
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
}

.r_skl {
    padding: auto;
}

article {
    margin: 0 1em;
}

.about-txt {
    margin-top: 0;
}


/* :::::::::::::::::::::::::::::: IMAGES */

img {
    width: 100%;
}

#me {
    max-width: 250px;
    display: block;
    margin: 0 auto;
    padding: 0 calc(50% - 160px);
}


/* :::::::::::::::::::::::::::::: NAVIGATION */

#logo {
    max-width: 2em;
    margin-left: 1em;
    line-height: 1em;
    display: inline-block;
    text-align: center;
    margin-top: 1em;
}

#dalname {
    display: none;
}

#top {
    margin: 0;
    padding: 0;
}

#page-header {
    background-color: #040D38;
    padding: 0px;
    text-align: center;
    position: fixed;
    width: 100%;
    margin: 0;
}

#nav-menu {
    background-color: #040D38;
    width: auto;
    color: #fff
}

#nav-menu>ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
}

#nav-menu>ul>li {
    display: inline-block;
}

#nav-menu>ul>li>a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff
}


/* :::::::::::::::::::::::::::::: LAYOUT */

.row {
    margin: 0 auto;
}

@media screenand (max-width:480px) {
    .column:nth-child(1) {
        display: none;
    }
}


}
.column {
    width: 100%;
    padding: 0 auto;
}

/*25px top and bottom,0 left and right */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    background-color: #ffffff;
}

/* :::::::::::::::::::::::::::::: ABOUT PAGE */
main .start #welcome-box {
    margin: 0;
}
.start {
    margin-top: 0;
}
.about-txt {
    margin-top: 0;
}
#welcome-box {
    background-image: url("../img/img-dt/img_1x_dt/wte_bgrd_intro.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 500px;
    padding: 0 0 0 70px;
    box-shadow: inset 0px 0px 40px 40px#f9f9f9;
}
#welcome-box,
h1,
#about-txt {
    font-weight: bold;
    text-align: center;
    padding-top: 5em;
}
h2,
#story-title {
    text-align: center;
}

/* :::::::::::::::::::::::::::::: LINKS */
a {
    color: #ff7f50;
    text-decoration: none;
    /* No underlining */
}
a:hover,
a:focus {
    color: #cc6540;
    text-decoration: underline;
}
a:visited {
    /* visited link */
    /* color: #ff7f50; */
    /* We suggest using a different color here */
    
    color: gray;
}
a:active {
    /* selected link */
    
    color: #994c30;
}

/* :::::::::::::::::::::::::::::: BUTTONS */
.button {
    display: inline-block;
    background-color: #ffffff;
    color: #17505C;
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #ffffff;
    transition: 0.2s opacity;
    border-radius: 100px;
}
.button:hover {
    opacity: 0.8;
    /* Reduces the opacity of the button to 80% */
    
    text-decoration: none;
}
.button.contact {
    background-color: #893795;
    color: #ffffff;
    text-transform: uppercase;
    border: 2px solid #893795;
    border-radius: 20px;
}
.button.contact:hover {
    background-color: #ffffff;
    color: #000000;
    opacity: 0.8;
    /* Reduces the opacity of the button to 80% */
    
    text-decoration: none;
}
.button-icon {
    display: inline-block;
    background-color: transparent;
    color: #17505C;
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: transparent;
    transition: 0.2s opacity;
    border-radius: 80px;
}
#project-btn {
    background-color: #893795;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 20px;
    margin-bottom: 400px;
    padding: 10px;
    transition: 0.2s opacity;
}

/* :::::::::::::::::::::::::::::: TRANSITIONS */
.button {
    display: inline-block;
    background-color: #ff7f50;
    color: white;
    font-weight: 400;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #994c30;
    transition: 0.2s opacity;
}

/* :::::::::::::::::::::::::::::: Footer*/
#contact {
    text-align: center;
}
footer {
    background-color: #A1ACC2;
}
footer .container {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

/* :::::::::::::::::::::::::::::: MEDIA QUERIES (In lesson 1.8) */

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
    header {
        text-align: unset;
        padding: 20px 0 13px;
    }
    
    nav {
        width: auto;
        float: right;
        margin-top: 4px;
        margin-right: 2em;
    }
    
    #hero span {
        display: block;
    }
    
    main {
        padding-top: 3em;
        margin-left: auto;
        margin-right: auto;
    }
    
    .row::after {
        content: "";
        clear: both;
        display: table;
    }
    
    .col-md-6 {
        width: 50%;
        padding: 10px;
    }
    
    .col-md-8 {
        width: 70%;
        padding: 10px;
        float: left;
    }
    
    [class*="col-"] {
        float: left;
    }
    
    ul {
        margin: 20px;
        padding: 20px;
    }
    
    #about-page h3 {
        margin-top: 0;
    }
    
    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 14px 28px 28px 0px rgba(202, 202, 192, 0.45);
        -webkit-box-shadow: 14px 28px 28px 0px rgba(202, 202, 192, 0.45);
        -moz-box-shadow: 14px 28px 28px 0px rgba(202, 202, 192, 0.45);
    }
    
    #logo {
        float: left;
    }
    
    #dalname {
        float: left;
    }
    
    #intro {
        background-color: transparent;
        box-shadow: none;
    }
    
    #logo {
        max-width: 2em;
        margin-left: 1em;
        line-height: 1em;
        display: inline-block;
        text-align: center;
        margin-top: 1em;
    }
    
    #dalname {
        color: #ffffff;
        margin-top: 2em;
        margin-left: 1em;
        display: inline-block;
        padding: 0;
        line-height: 0em;
        text-align: center;
        font-family: 'Cinzel', serif;
    }
    
    image .about #welcome-box {
        margin: 0;
        max-width: 20em;
        height: auto;
        display: block;
        background-repeat: no-repeat;
        background-position: center top;
    }
    
    #story-title {
        margin-top: -10em;
        z-index: 100;
    }
    
    #about_txt {
        padding-top: 2em;
        z-index: 150;
        text-align: center;
    }
    
    #welcome-box {
        background-image: url("../img/img-dt/img_1x_dt/wte_bgrd_intro.png");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center top;
        padding-bottom: 100px;
        margin: 0px;
    }
    
    #me {
        max-width: 50em;
        margin: auto;
        display: block;
        padding: 0 calc(50% - 160px);
    }
    
    main {
        padding-top: 0;
        margin-left: 3em;
        margin-right: 3em;
    }
    
    footer {
        background-color: #A1ACC2;
    }
    
    footer .container {
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
    }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
    #welcome-box {
        background-image: url("../img/img-dt/img_1x_dt/wte_bgrd_intro.png");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center top;
        padding-bottom: 100px;
        margin: 0px;
    }
    
    main {
        padding-top: 0;
        margin-left: 3em;
        margin-right: 3em;
    }
    
    #about_txt {
        z-index: 150;
        text-align: center;
        padding-top: 3em;
    }
}
.col-lg-4 {
    width: 30%;
    padding: 10px;
    float: right;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
.col-lg-5 {
    width: 40%;
}
.col-lg-7 {
    width: 60%;
}
#welcome-box #me {
    max-width: 50em;
    margin-left: 30%;
    margin-top: 1em;
    display: block;
    padding: 0 auto;
}
footer {
    background-color: #A1ACC2;
}
footer .container {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

}