    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        background-color: #f9f9f9;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        /* Sets the font size to 16px */
        font-weight: 300;
        /* Sets the font weight to 300 */
        line-height: 3em;
        /* Sets the line-height to 1.6 * the font-size */
        color: #4a4a4a;
    }
    /* :::::::::::::::::::::::::::::: TYPOGRAPHY */
    
    h1,
    h2,
    h3,
    h4 {
        line-height: 100px;
    }
    
    h1 {
        font-size: 2.75em;
        font-weight: 700;
    }
    
    h2 {
        font-size: 2.25em;
        font-weight: 700;
    }
    
    h3 {
        font-size: 1.75em;
        font-weight: 400;
    }
    
    h4 {
        font-size: 1.35em;
        font-weight: 400;
    }
    /* :::::::::::::::::::::::::::::: IMAGES */
    
    img {
        width: 100%;
    }
    /* :::::::::::::::::::::::::::::: LINKS */
    
    a {
        color: #ff7f50;
        text-decoration: none;
        /* No underlining */
    }
    
    a:hover,
    a:focus {
        color: #cc6540;
        text-decoration: underline;
    }
    
    a:visited {
        /* visited link */
        /* color: #ff7f50; */
        /* We suggest using a different color here */
        color: gray;
    }
    
    a:active {
        /* selected link */
        color: #994c30;
    }
    /* :::::::::::::::::::::::::::::: BUTTONS */
    
    .button {
        display: inline-block;
        background-color: #ffffff;
        color: #17505C;
        font-weight: 400;
        padding: 10px;
        border-radius: 3px;
        border-bottom: 2px solid #ffffff;
        transition: 0.2s opacity;
        border-radius: 100px;
    }
    
    .button:hover {
        opacity: 0.8;
        /* Reduces the opacity of the button to 80% */
        text-decoration: none;
    }
    
    .button.contact {
        background-color: #893795;
        color: #ffffff;
        text-transform: uppercase;
        border: 2px solid #893795;
        border-radius: 20px;
    }
    
    .button.contact:hover {
        background-color: #ffffff;
        color: #000000;
        opacity: 0.8;
        /* Reduces the opacity of the button to 80% */
        text-decoration: none;
    }
    
    .button-icon {
        display: inline-block;
        background-color: transparent;
        color: #17505C;
        font-weight: 400;
        padding: 10px;
        border-radius: 3px;
        border-bottom: transparent;
        transition: 0.2s opacity;
        border-radius: 80px;
    }
    
    #project-btn {
        background-color: #893795;
        color: #ffffff;
        text-transform: uppercase;
        border-radius: 20px;
        margin-bottom: 400px;
    }
    
    #welcome-box,
    .box {
        background-image: url("../img/img_abt/2nw_gn_bg1x.png");
        background-size: cover;
        background-position: left top;
        padding: 100px;
        margin: 0px;
    }
    /* :::::::::::::::::::::::::::::: NAVIGATION */
    
    #logo {
        max-width: 150px;
    }
    
    #logo_name {
        color: #ffffff
    }
    
    #page-header {
        background-color: #040D38;
    }
    
    #nav-menu {
        background-color: #040D38;
        width: 100%;
        height: 20px;
        color: #fff
    }
    /* :::::::::::::::::::::::::::::: LAYOUT */
    
    .row {
        margin: 25px 0;
        /25px top and bottom,
        0 left and right /
    }
    /* :::::::::::::::::::::::::::::: HOMEPAGE */
    /* :::::::::::::::::::::::::::::: ABOUT PAGE */
    
    #welcome-box,
    .box {
        background-image: url("../img/img_abt/2nw_gn_bg1x.png");
        background-size: cover;
        background-position: left top;
        padding: 100px;
        margin: 0px;
    }
    
    #welcome-box,
    h1,
    #about-txt {
        font-weight: bold;
        text-align: center;
    }
    
    h2,
    #story-title {
        text-align: center;
    }
    
    .box {
        background-image: url("..img/img-dt/img_1x_dt/green_bg_header1x.png");
        padding: 10px;
        margin: 50px background-color: #ddebeb;
        margin: 10px;
        color: #ffffff
    }
    /* :::::::::::::::::::::::::::::: MEDIA QUERIES (In lesson 1.8) */